[defaults]
inventory = inventories/dev/oci.oci.yml
roles_path = roles
collections_path = collections
remote_user = opc
host_key_checking = True
interpreter_python = auto_silent
timeout = 30
retry_files_enabled = False

[inventory]
any_unparsed_is_failed = True
